<Settings>
<servers>
  <server>
    <id>my-domain-todo-mavan-repo</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>my-domain-todo-mavan-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>my-domain-todo-mavan-repo</id>
        <url>https://my-domain-063884340653.d.codeartifact.ap-southeast-1.amazonaws.com/maven/todo-mavan-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>my-domain-todo-mavan-repo</id>
    <name>my-domain-todo-mavan-repo</name>
    <url>https://my-domain-063884340653.d.codeartifact.ap-southeast-1.amazonaws.com/maven/todo-mavan-repo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>
